name: Build and Push Operator Image

on:
  pull_request:
    types:
      - closed
    branches:
      - master
    paths:
      - "operator.py"
      - "Dockerfile"

jobs:
  build-and-publish:
    if: github.event.pull_request.merged == true && github.head_ref == 'dev'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/custom-operator:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/custom-operator:${{ github.sha }}
