name: Build and Push Operator Image

on:
  pull_request:
    types:
      - closed
    branches:
      - master

jobs:
  test-python-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Pytest
        run: |
          pip install pytest
          pytest test_operator.py -v

  build-and-update-helm:
    needs: test-python-code
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Image Tag
        id: vars
        run: echo "tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/custom-operator:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/custom-operator:${{ steps.vars.outputs.tag }}

      - name: Update Helm values.yaml
        env:
          HELM_REPO_TOKEN: ${{ secrets.HELM_REPO_TOKEN }}
          IMAGE_TAG: ${{ steps.vars.outputs.tag }}
        run: |
          git config --global credential.helper store
          echo "https://Orim2002:${HELM_REPO_TOKEN}@github.com" > ~/.git-credentials
          git clone https://github.com/Orim2002/Custom-Kubernetes-Operator-HelmChart.git helm-repo
          cd helm-repo
          sed -i "s/tag: .*/tag: \"${IMAGE_TAG}\"/g" operator/values.yaml
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add operator/values.yaml
          git commit -m "chore: update image tag to ${IMAGE_TAG}"
          git push
