name: Build and Push Operator Image

on:
  pull_request:
    types:
      - closed
    branches:
      - master

jobs:
  build-and-publish:
    if: github.event.pull_request.merged == true && github.head_ref == 'dev'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/custom-operator:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/custom-operator:${{ github.sha }}

      - name: Update Helm values.yaml
        run: |
          sed -i "s/tag: .*/tag: \"${{ github.sha }}\"/g" operator/values.yaml

      - name: Commit and Push changes
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add operator/values.yaml
          git commit -m "chore: update image tag to ${{ github.sha }} [skip ci]"
          git push origin dev
